interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&mindepth=-100&offset=1&starttime=1994-01-17T12%3A30%3A00&endtime=1994-01-18T12%3A35%3A00&maxdepth=1000&limit=20000&minmagnitude=6.6&maxmagnitude=10.0&orderby=time-asc&eventtype=earthquake
  response:
    body: {string: '{"type":"FeatureCollection","metadata":{"generated":1541795248000,"url":"https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&mindepth=-100&offset=1&starttime=1994-01-17T12%3A30%3A00&endtime=1994-01-18T12%3A35%3A00&maxdepth=1000&limit=20000&minmagnitude=6.6&maxmagnitude=10.0&orderby=time-asc&eventtype=earthquake","title":"USGS
        Earthquakes","status":200,"api":"1.5.8","limit":20000,"offset":1,"count":1},"features":[{"type":"Feature","properties":{"mag":6.7,"place":"1km
        NNW of Reseda, CA","time":758809855390,"updated":1518716430169,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/ci3144585","detail":"https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=ci3144585&format=geojson","felt":10955,"cdi":8.6,"mmi":8.6,"alert":null,"status":"reviewed","tsunami":0,"sig":1551,"net":"ci","code":"3144585","ids":",cinorthrid,choy19940117123055,gcmtc011794b,ci3144585,usp00066k9,gcmt19940117123055,duputel011794b,atlas19940117123055,iscgem189275,","sources":",ci,choy,gcmt,ci,us,gcmt,duputel,atlas,iscgem,","types":",associate,dyfi,focal-mechanism,general-link,impact-text,moment-tensor,nearby-cities,origin,phase-data,shakemap,trump-shakemap,","nst":0,"dmin":null,"rms":0.31,"gap":29.7,"magType":"mw","type":"earthquake","title":"M
        6.7 - 1km NNW of Reseda, CA"},"geometry":{"type":"Point","coordinates":[-118.537,34.213,18.202]},"id":"ci3144585"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Last-Modified: ['Fri, 09 Nov 2018 20:27:28 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=ci3144585&format=geojson
  response:
    body: {string: '{"type":"Feature","properties":{"mag":6.7,"place":"1km NNW of
        Reseda, CA","time":758809855390,"updated":1518716430169,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/ci3144585","felt":10955,"cdi":8.6,"mmi":8.6,"alert":null,"status":"reviewed","tsunami":0,"sig":1551,"net":"ci","code":"3144585","ids":",cinorthrid,choy19940117123055,gcmtc011794b,ci3144585,usp00066k9,gcmt19940117123055,duputel011794b,atlas19940117123055,iscgem189275,","sources":",ci,choy,gcmt,ci,us,gcmt,duputel,atlas,iscgem,","types":",associate,dyfi,focal-mechanism,general-link,impact-text,moment-tensor,nearby-cities,origin,phase-data,shakemap,trump-shakemap,","nst":0,"dmin":null,"rms":0.31,"gap":29.7,"magType":"mw","type":"earthquake","title":"M
        6.7 - 1km NNW of Reseda, CA","products":{"associate":[{"indexid":"78676541","indexTime":1455640803443,"id":"urn:usgs-product:admin:associate:cinorthrid_ci3144585:1455640812329","type":"associate","code":"cinorthrid_ci3144585","source":"admin","updateTime":1455640812329,"status":"UPDATE","properties":{"eventsource":"ci","eventsourcecode":"northrid","othereventsource":"ci","othereventsourcecode":"3144585"},"preferredWeight":1,"contents":{"":{"contentType":"1","lastModified":1455640812000,"length":35,"bytes":"multiple
        event ids from same source"}}}],"dyfi":[{"indexid":"47100901","indexTime":1422412116541,"id":"urn:usgs-product:us:dyfi:cinorthrid:1422412112677","type":"dyfi","code":"cinorthrid","source":"us","updateTime":1422412112677,"status":"UPDATE","properties":{"depth":"18","eventsource":"ci","eventsourcecode":"northrid","eventtime":"1994-01-17T12:30:55.000Z","latitude":"34.213","longitude":"-118.5357","magnitude":"6.7","maxmmi":"8.6","num-responses":"10955","numResp":"10955"},"preferredWeight":51,"contents":{"cdi_geo.txt":{"contentType":"text/plain","lastModified":1422412112000,"length":29949,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/cdi_geo.txt"},"cdi_geo.xml":{"contentType":"application/octet-stream","lastModified":1422412112000,"length":79725,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/cdi_geo.xml"},"cdi_zip.txt":{"contentType":"text/plain","lastModified":1422412112000,"length":40913,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/cdi_zip.txt"},"cdi_zip.xml":{"contentType":"application/octet-stream","lastModified":1422412112000,"length":168869,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/cdi_zip.xml"},"cinorthrid_ciim.jpg":{"contentType":"image/jpeg","lastModified":1422412112000,"length":160504,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/cinorthrid_ciim.jpg"},"cinorthrid_ciim.pdf":{"contentType":"application/octet-stream","lastModified":1422412112000,"length":154907,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/cinorthrid_ciim.pdf"},"cinorthrid_ciim.ps":{"contentType":"application/postscript","lastModified":1422412112000,"length":327798,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/cinorthrid_ciim.ps"},"cinorthrid_ciim_geo.jpg":{"contentType":"image/jpeg","lastModified":1422412112000,"length":116233,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/cinorthrid_ciim_geo.jpg"},"cinorthrid_ciim_geo.pdf":{"contentType":"application/octet-stream","lastModified":1422412112000,"length":100707,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/cinorthrid_ciim_geo.pdf"},"cinorthrid_ciim_geo.ps":{"contentType":"application/postscript","lastModified":1422412112000,"length":220653,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/cinorthrid_ciim_geo.ps"},"cinorthrid_ciim_geo_imap.html":{"contentType":"text/html","lastModified":1422412112000,"length":72034,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/cinorthrid_ciim_geo_imap.html"},"cinorthrid_ciim_imap.html":{"contentType":"text/html","lastModified":1422412112000,"length":206315,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/cinorthrid_ciim_imap.html"},"cinorthrid_dyfimap.kmz":{"contentType":"application/octet-stream","lastModified":1422412112000,"length":1099,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/cinorthrid_dyfimap.kmz"},"cinorthrid_dyfiraw.kmz":{"contentType":"application/octet-stream","lastModified":1422412112000,"length":358052,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/cinorthrid_dyfiraw.kmz"},"cinorthrid_obs.xml":{"contentType":"application/octet-stream","lastModified":1422412112000,"length":47913,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/cinorthrid_obs.xml"},"cinorthrid_plot_atten.jpg":{"contentType":"image/jpeg","lastModified":1422412112000,"length":98550,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/cinorthrid_plot_atten.jpg"},"cinorthrid_plot_atten.ps":{"contentType":"application/postscript","lastModified":1422412112000,"length":66263,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/cinorthrid_plot_atten.ps"},"contents.xml":{"contentType":"application/octet-stream","lastModified":1422412112000,"length":2764,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/contents.xml"},"dyfi.kmz":{"contentType":"application/octet-stream","lastModified":1422412112000,"length":1130,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/dyfi.kmz"},"dyfi_geo.kmz":{"contentType":"application/octet-stream","lastModified":1422412112000,"length":25251,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/dyfi_geo.kmz"},"dyfi_zip.kmz":{"contentType":"application/octet-stream","lastModified":1422412112000,"length":231747,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/dyfi_zip.kmz"},"event_data.xml":{"contentType":"application/octet-stream","lastModified":1422412112000,"length":2611,"url":"https://earthquake.usgs.gov/archive/product/dyfi/cinorthrid/us/1422412112677/event_data.xml"}}}],"focal-mechanism":[{"indexid":"105044511","indexTime":1478737425275,"id":"urn:usgs-product:us:focal-mechanism:gcmtC011794B:1478737424920","type":"focal-mechanism","code":"gcmtC011794B","source":"us","updateTime":1478737424920,"status":"UPDATE","properties":{"evaluation-status":"reviewed","eventParametersPublicID":"quakeml:us.anss.org/eventParameters/C011794B","eventsource":"gcmt","eventsourcecode":"c011794b","n-axis-azimuth":"297","n-axis-plunge":"16","nodal-plane-1-dip":"42","nodal-plane-1-rake":"65","nodal-plane-1-strike":"278","nodal-plane-2-dip":"53","nodal-plane-2-rake":"111","nodal-plane-2-strike":"130","p-axis-azimuth":"205","p-axis-plunge":"6","quakeml-publicid":"quakeml:us.anss.org/focalmechanism/C011794B/Mwc","review-status":"reviewed","t-axis-azimuth":"97","t-axis-plunge":"73"},"preferredWeight":1,"contents":{"contents.xml":{"contentType":"application/xml","lastModified":1478737424000,"length":195,"url":"https://earthquake.usgs.gov/archive/product/focal-mechanism/gcmtC011794B/us/1478737424920/contents.xml"},"quakeml.xml":{"contentType":"application/xml","lastModified":1478737424000,"length":2227,"url":"https://earthquake.usgs.gov/archive/product/focal-mechanism/gcmtC011794B/us/1478737424920/quakeml.xml"}}},{"indexid":"56861371","indexTime":1435684726195,"id":"urn:usgs-product:us:focal-mechanism:choy19940117123055:1435683541873","type":"focal-mechanism","code":"choy19940117123055","source":"us","updateTime":1435683541873,"status":"UPDATE","properties":{"beachball-source":"us","evaluation-status":"preliminary","eventParametersPublicID":"quakeml:us.anss.org/eventparameters/10002l37/1435063121","eventsource":"choy","eventsourcecode":"19940117123055","nodal-plane-1-dip":"50","nodal-plane-1-rake":"75","nodal-plane-1-strike":"260","nodal-plane-2-dip":"42","nodal-plane-2-rake":"107","nodal-plane-2-strike":"103","quakeml-publicid":"choy19940117123055","review-status":"automatic"},"preferredWeight":1,"contents":{"contents.xml":{"contentType":"application/xml","lastModified":1435684629000,"length":195,"url":"https://earthquake.usgs.gov/archive/product/focal-mechanism/choy19940117123055/us/1435683541873/contents.xml"},"quakeml.xml":{"contentType":"application/xml","lastModified":1435683541000,"length":2779,"url":"https://earthquake.usgs.gov/archive/product/focal-mechanism/choy19940117123055/us/1435683541873/quakeml.xml"}}}],"general-link":[{"indexid":"151791641","indexTime":1518716432125,"id":"urn:usgs-product:admin:general-link:ci3144585-1518716402248:1518716430169","type":"general-link","code":"ci3144585-1518716402248","source":"admin","updateTime":1518716430169,"status":"UPDATE","properties":{"eventsource":"ci","eventsourcecode":"3144585","pdl-client-version":"Version
        1.10.1 2016-04-07","text":"Northridge California Earthquake January 17, 1994","url":"http://nisee.berkeley.edu/northridge/"},"preferredWeight":1,"contents":[]},{"indexid":"151791631","indexTime":1518716398643,"id":"urn:usgs-product:admin:general-link:ci3144585-1518716358598:1518716397199","type":"general-link","code":"ci3144585-1518716358598","source":"admin","updateTime":1518716397199,"status":"UPDATE","properties":{"eventsource":"ci","eventsourcecode":"3144585","pdl-client-version":"Version
        1.10.1 2016-04-07","text":"USGS Response to an Urban Earthquake: Northridge
        ''94","url":"http://pubs.usgs.gov/of/1996/ofr-96-0263/"},"preferredWeight":1,"contents":[]}],"impact-text":[{"indexid":"151791621","indexTime":1518716331042,"id":"urn:usgs-product:us:impact-text:usp00066k9:1518716329671","type":"impact-text","code":"usp00066k9","source":"us","updateTime":1518716329671,"status":"UPDATE","properties":{"eventParametersPublicID":"quakeml:US.anss.org/eventParameters/pde19940117123055390_18/1415321687324","eventsource":"us","eventsourcecode":"p00066k9","pdl-client-version":"Version
        1.10.1 2016-04-07"},"preferredWeight":6,"contents":{"":{"contentType":"1","lastModif[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&eventid=official20110311054624120_30&includesuperseded=true&includedeleted=false
  response:
    body: {string: '{"type":"Feature","properties":{"mag":9.1,"place":"near the east
        coast of Honshu, Japan","time":1299822384120,"updated":1539808472261,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/official20110311054624120_30","felt":1497,"cdi":9.[...]
