interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&eventid=us2000ar20&includesuperseded=false&includedeleted=false
  response:
    body: {string: '{"type":"Feature","properties":{"mag":7.1,"place":"1km E of Ayutla,
        Mexico","time":1505844878090,"updated":1539813236803,"tz":-360,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/us2000ar20","felt":2182,"cdi":9.1,"mmi":7.64,"alert":null,"status":"reviewed","tsunami":0,"sig":1686,"net":"us","code":"2000ar20","ids":",us2000ar20,","sources":",us,","types":",dyfi,finite-fault,general-link,general-text,geoserve,impact-text,losspager,moment-tensor,origin,phase-data,poster,scitech-link,shakemap,","nst":null,"dmin":0.984,"rms":1.14,"gap":23,"magType":"mww","type":"earthquake","title":"M
        7.1 - 1km E of Ayutla, Mexico","products":{"dyfi":[{"indexid":"169095591","indexTime":1538344127562,"id":"urn:usgs-product:us:dyfi:us2000ar20:1538344124678","type":"dyfi","code":"us2000ar20","source":"us","updateTime":1538344124678,"status":"UPDATE","properties":{"depth":"48","eventsource":"us","eventsourcecode":"2000ar20","eventtime":"2017-09-19T18:14:38.000Z","latitude":"18.5499","longitude":"-98.4887","magnitude":"7.1","maxmmi":"9.1","num-responses":"2182","numResp":"2182","pdl-client-version":"Version
        1.13.3 2018-02-06"},"preferredWeight":156,"contents":{"cdi_geo.txt":{"contentType":"text/plain","lastModified":1538344124000,"length":23166,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/cdi_geo.txt"},"cdi_geo.xml":{"contentType":"application/xml","lastModified":1538344124000,"length":82423,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/cdi_geo.xml"},"cdi_geo_1km.txt":{"contentType":"text/plain","lastModified":1538344124000,"length":91099,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/cdi_geo_1km.txt"},"cdi_zip.txt":{"contentType":"text/plain","lastModified":1538344124000,"length":23895,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/cdi_zip.txt"},"cdi_zip.xml":{"contentType":"application/xml","lastModified":1538344124000,"length":68646,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/cdi_zip.xml"},"contents.xml":{"contentType":"application/xml","lastModified":1538344124000,"length":4224,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/contents.xml"},"dyfi.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1538344124000,"length":1159,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/dyfi.kmz"},"dyfi_geo.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1538344124000,"length":19451,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/dyfi_geo.kmz"},"dyfi_geo_10km.geojson":{"contentType":"application/octet-stream","lastModified":1538344124000,"length":78465,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/dyfi_geo_10km.geojson"},"dyfi_geo_1km.geojson":{"contentType":"application/octet-stream","lastModified":1538344124000,"length":272937,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/dyfi_geo_1km.geojson"},"dyfi_plot_atten.json":{"contentType":"application/json","lastModified":1538344124000,"length":9279,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/dyfi_plot_atten.json"},"dyfi_plot_numresp.json":{"contentType":"application/json","lastModified":1538344124000,"length":88724,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/dyfi_plot_numresp.json"},"dyfi_zip.geojson":{"contentType":"application/octet-stream","lastModified":1538344124000,"length":148634,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/dyfi_zip.geojson"},"dyfi_zip.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1538344124000,"length":28232,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/dyfi_zip.kmz"},"event_data.xml":{"contentType":"application/xml","lastModified":1538344124000,"length":3036,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/event_data.xml"},"us2000ar20_ciim.jpg":{"contentType":"image/jpeg","lastModified":1538344124000,"length":103442,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/us2000ar20_ciim.jpg"},"us2000ar20_ciim.pdf":{"contentType":"application/pdf","lastModified":1538344124000,"length":120002,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/us2000ar20_ciim.pdf"},"us2000ar20_ciim.ps":{"contentType":"application/postscript","lastModified":1538344124000,"length":294803,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/us2000ar20_ciim.ps"},"us2000ar20_ciim_geo.jpg":{"contentType":"image/jpeg","lastModified":1538344124000,"length":97598,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/us2000ar20_ciim_geo.jpg"},"us2000ar20_ciim_geo.pdf":{"contentType":"application/pdf","lastModified":1538344124000,"length":106171,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/us2000ar20_ciim_geo.pdf"},"us2000ar20_ciim_geo.ps":{"contentType":"application/postscript","lastModified":1538344124000,"length":298237,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/us2000ar20_ciim_geo.ps"},"us2000ar20_ciim_geo_imap.html":{"contentType":"text/html","lastModified":1538344124000,"length":66464,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/us2000ar20_ciim_geo_imap.html"},"us2000ar20_ciim_imap.html":{"contentType":"text/html","lastModified":1538344124000,"length":45487,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/us2000ar20_ciim_imap.html"},"us2000ar20_plot_atten.jpg":{"contentType":"image/jpeg","lastModified":1538344124000,"length":66408,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/us2000ar20_plot_atten.jpg"},"us2000ar20_plot_atten.ps":{"contentType":"application/postscript","lastModified":1538344124000,"length":57603,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/us2000ar20_plot_atten.ps"},"us2000ar20_plot_atten.txt":{"contentType":"text/plain","lastModified":1538344124000,"length":5723,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/us2000ar20_plot_atten.txt"},"us2000ar20_plot_numresp.jpg":{"contentType":"image/jpeg","lastModified":1538344124000,"length":38954,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/us2000ar20_plot_numresp.jpg"},"us2000ar20_plot_numresp.ps":{"contentType":"application/postscript","lastModified":1538344124000,"length":34531,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/us2000ar20_plot_numresp.ps"},"us2000ar20_plot_numresp.txt":{"contentType":"text/plain","lastModified":1538344124000,"length":56791,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000ar20/us/1538344124678/us2000ar20_plot_numresp.txt"}}}],"finite-fault":[{"indexid":"169748731","indexTime":1539813249485,"id":"urn:usgs-product:us:finite-fault:us2000ar20:1539813236803","type":"finite-fault","code":"us2000ar20","source":"us","updateTime":1539813236803,"status":"UPDATE","properties":{"average-rise-time":"2.11","average-rupture-velocity":"2.03","depth":"51.0000","derived-magnitude":"7.1100","derived-magnitude-type":"Mw","eventsource":"us","eventsourcecode":"2000ar20","eventtime":"2017-09-19T00:00:00.000Z","hypocenter-x":"37.5000","hypocenter-z":"7.5000","latitude":"18.5490","location":"1km
        E of Ayutla, Mexico","longitude":"-98.4870","maximum-frequency":"1.0000","maximum-rise":"4.0000","maximum-slip":"0.8000","minimum-frequency":"0.0020","model-dip":"42.0000","model-length":"75.0000","model-rake":"269.0000","model-strike":"111.0000","model-top":"45.9800","model-width":"45.0000","number-longwaves":"81","number-pwaves":"51","number-shwaves":"25","review-status":"reviewed","scalar-moment":"60121920000000000000.0000","segment-1-dip":"42.0000","segment-1-strike":"111.0000","segments":"1","subfault-1-area":"515.1492","subfault-1-length":"31.8240","subfault-1-width":"16.1874","time-windows":"5","velocity-function":"Asymetriccosine"},"preferredWeight":156,"contents":{"2000ar20.html":{"contentType":"text/html","lastModified":1539813236000,"length":4239,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us2000ar20/us/1539813236803/2000ar20.html"},"CMTSOLUTION":{"contentType":"application/octet-stream","lastModified":1506120975000,"length":2688,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us2000ar20/us/1539813236803/CMTSOLUTION"},"FFM.geojson":{"contentType":"application/octet-stream","lastModified":1539813235000,"length":541432,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us2000ar20/us/1539813236803/FFM.geojson"},"analysis.html":{"contentType":"text/html","lastModified":1539813234000,"length":270,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us2000ar20/us/1539813236803/analysis.html"},"basemap.png":{"contentType":"application/octet-stream","lastModified":1506120984000,"length":1676225,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us2000ar20/us/1539813236803/basemap.png"},"basic_inversion.param":{"contentType":"application/octet-stream","lastModified":1539795694000,"length":62761,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us2000ar20/us/1539813236803/basic_inversion.param"},"complete_inversion.fsp":{"contentType":"application/octet-stream","lastModified":1506120981000,"length":36991,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us2000ar20/us/1539813236803/complete_inversion.fsp"},"contents.xml":{"contentType":"application/octet-stream","lastModified":1539813236000,"length":1869,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us2000ar20/us/1539813236803/contents.xml"},"coulomb.inp":{"contentType":"application/octet-stream","lastModified":1506135619000,"length":45143,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us2000ar20/us/1539813236803/coulomb.inp"},"finite_fault.kml":{"contentType":"application/octet-stream","lastModified":1506120931000,"length":2114,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us2000ar20/us/1539813236803/finite_fault.kml"},"finite_fault.kmz":{"contentType":"application/octet-stream","lastModified":1506120931000,"length":917,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us2000ar20/us/1539813236803/finite_fault.kmz"},"moment_rate.mr":{"contentType":"application/octet-stream","lastModified":1539795694000,"length":31744,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us2000ar20/us/1539813236803/moment_rate.mr"},"moment_rate.png":{"contentType":"application/octet-stream","lastModified":1506121011000,"length":114372,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us2000ar20/us/1539813236803/moment_rate.png"},"properties.json":{"contentType":"application/octet-stream","lastModified":1539813236000,"length":1063,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us2000ar20/us/1539813236803/properties.json"},"slip.png":{"contentType":"application/octet-stream","lastModified":1506120992000,"length":368073,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us2000ar20/us/1539813236803/slip.png"},"surface_deformation.disp":{"contentType":"application/octet-stream","lastModified":1506120939000,"length":29600,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us2000ar20/us/1539813236803/surface_deformation.disp"},"waveplots.zip":{"contentType":"application/octet-stream","lastModified":1539813236000,"length":2697908,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us2000ar20/us/1539813236803/waveplots.zip"}}}],"general-link":[{"indexid":"146534671","indexTime":1506010824777,"id":"urn:usgs-product:admin:general-link:us2000ar20-1506010703866:1506010822334","type":"general-link","code":"us2000ar20-1506010703866","source":"admin","updateTime":1506010822334,"status":"UPDATE","properties":{"eventsource":"us","eventsourcecode":"2000ar20","pdl-client-version":"Version
        1.10.1 2016-04-07","text":"NASA Satellite Damage Proxy Map","url":"https://photojournal.jpl.nasa.gov/catalog/pia21963"},"preferredWeight":1,"contents":[]},{"indexid":"146493231","indexTime":1505932695277,"id":"urn:usgs-product:admin:general-link:us2000ar20-1505932627480:1505932692739","type":"general-link","code":"us2000ar20-1505932627480","source":"admin","updateTime":1505932692739,"status":"UPDATE","properties":{"eventsource":"us","eventsourcecode":"2000ar20","pdl-client-version":"Version
        1.10.1 2016-04-07","text":"IRIS Special Event: Central Mexico","url":"http://ds.iris.edu/ds/nodes/dmc/specialevents/2017/09/19/central-mexico/"},"preferredWeight":1,"contents":[]}],"general-text":[{"indexid":"146590701","indexTime":1506098923130,"id":"urn:usgs-product:admin:general-text:us2000ar20-1505849559904:1506098921824","type":"general-text","code":"us2000ar20-1505849559904","source":"admin","updateTime":1506098921824,"status":"UPDATE","properties":{"eventsource":"us","eventsourcecode":"2000ar20","pdl-client-version":"Version
        1.10.1 2016-04-07","review-status":"Reviewed"},"preferredWeight":1,"contents":{"":{"contentType":"1","lastModified":1506098921000,"length":3224,"bytes":"<h2>Tectonic
        Summary</h2>\n<p>\nThe September 19, 2017, M 7.1 earthquake in Central Mexico
        occurred as the result of normal faulting at a depth of approximately 50 km.
        Focal mechanism solutions indicate that the earthquake occurred on a moderately
        dipping fault, striking either to the southeast, or to the northwest. The
        event is near, but not directly on, the plate boundary between the Cocos and
        North America plates in the region. At the location of th[...]
