interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&eventtype=earthquake&maxmagnitude=9.0&minmagnitude=8.0&endtime=1994-10-06T00%3A00%3A00&limit=20000&orderby=time-asc&starttime=1994-06-01T00%3A00%3A00&mindepth=-100&offset=1&maxdepth=1000
  response:
    body: {string: '{"type":"FeatureCollection","metadata":{"generated":1541791811000,"url":"https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&eventtype=earthquake&maxmagnitude=9.0&minmagnitude=8.0&endtime=1994-10-06T00%3A00%3A00&limit=20000&orderby=time-asc&starttime=1994-06-01T00%3A00%3A00&mindepth=-100&offset=1&maxdepth=1000","title":"USGS
        Earthquakes","status":200,"api":"1.5.8","limit":20000,"offset":1,"count":2},"features":[{"type":"Feature","properties":{"mag":8.2,"place":"La
        Paz, Bolivia","time":771121996230,"updated":1492121206435,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/usp0006dzc","detail":"https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=usp0006dzc&format=geojson","felt":null,"cdi":null,"mmi":4.4,"alert":null,"status":"reviewed","tsunami":0,"sig":1034,"net":"us","code":"p0006dzc","ids":",choy19940609003316,gcmtm060994a,usp0006dzc,gcmt19940609003316,duputel060994a,iscgem168418,atlas19940609003317,","sources":",choy,gcmt,us,gcmt,duputel,iscgem,atlas,","types":",focal-mechanism,impact-text,moment-tensor,origin,phase-data,shakemap,trump-shakemap,","nst":null,"dmin":null,"rms":1.1,"gap":null,"magType":"mw","type":"earthquake","title":"M
        8.2 - La Paz, Bolivia"},"geometry":{"type":"Point","coordinates":[-67.553,-13.841,631.3]},"id":"usp0006dzc"},

        {"type":"Feature","properties":{"mag":8.3,"place":"Kuril Islands","time":781276975840,"updated":1539796060022,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/usp0006kdp","detail":"https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=usp0006kdp&format=geojson","felt":null,"cdi":null,"mmi":9,"alert":null,"status":"reviewed","tsunami":0,"sig":1060,"net":"us","code":"p0006kdp","ids":",usp0006kdp,choy19941004132255,gcmtm100494b,gcmt19941004132258,duputel100494b,atlas19941004132257,iscgem145456,","sources":",us,choy,gcmt,gcmt,duputel,atlas,iscgem,","types":",finite-fault,focal-mechanism,impact-text,moment-tensor,origin,phase-data,shakemap,trump-shakemap,","nst":null,"dmin":null,"rms":0.9,"gap":null,"magType":"mw","type":"earthquake","title":"M
        8.3 - Kuril Islands"},"geometry":{"type":"Point","coordinates":[147.321,43.773,14]},"id":"usp0006kdp"}],"bbox":[-67.553,-13.841,14,147.321,43.773,631.3]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Last-Modified: ['Fri, 09 Nov 2018 19:30:11 GMT']
    status: {code: 200, message: OK}
version: 1
