interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&includedeleted=false&eventid=us2000h8ty&includesuperseded=false
  response:
    body: {string: '{"type":"Feature","properties":{"mag":6.6,"place":"27km ENE of
        Tomakomai, Japan","time":1536170879150,"updated":1542217214040,"tz":540,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/us2000h8ty","felt":98,"cdi":8.1,"mmi":8.62,"alert":"orange","status":"reviewed","tsunami":1,"sig":1079,"net":"us","code":"2000h8ty","ids":",us2000h8ty,pt18248000,at00pelgzo,","sources":",us,pt,at,","types":",associate,dyfi,general-text,geoserve,ground-failure,impact-link,impact-text,losspager,moment-tensor,origin,phase-data,shakemap,","nst":null,"dmin":1.13,"rms":0.74,"gap":32,"magType":"mww","type":"earthquake","title":"M
        6.6 - 27km ENE of Tomakomai, Japan","products":{"associate":[{"indexid":"167969392","indexTime":1536172800883,"id":"urn:usgs-product:admin:associate:us2000h8ty_pt18248000:1536172798414","type":"associate","code":"us2000h8ty_pt18248000","source":"admin","updateTime":1536172798414,"status":"UPDATE","properties":{"eventsource":"us","eventsourcecode":"2000h8ty","othereventsource":"pt","othereventsourcecode":"18248000","pdl-client-version":"Version
        1.10.1 2016-04-07"},"preferredWeight":1,"contents":{"":{"contentType":"1","lastModified":1536172798000,"length":36,"bytes":"outside
        automatic association window"}}},{"indexid":"167969222","indexTime":1536172701279,"id":"urn:usgs-product:admin:associate:us2000h8ty_us2000h8ty:1536172700236","type":"associate","code":"us2000h8ty_us2000h8ty","source":"admin","updateTime":1536172700236,"status":"UPDATE","properties":{"eventsource":"us","eventsourcecode":"2000h8ty","othereventsource":"us","othereventsourcecode":"2000h8ty","pdl-client-version":"Version
        1.10.1 2016-04-07"},"preferredWeight":1,"contents":{"":{"contentType":"1","lastModified":1536172700000,"length":35,"bytes":"multiple
        event ids from same source"}}},{"indexid":"167969202","indexTime":1536172678771,"id":"urn:usgs-product:admin:associate:us2000h8ty_at00pelgzo:1536172677508","type":"associate","code":"us2000h8ty_at00pelgzo","source":"admin","updateTime":1536172677508,"status":"UPDATE","properties":{"eventsource":"us","eventsourcecode":"2000h8ty","othereventsource":"at","othereventsourcecode":"00pelgzo","pdl-client-version":"Version
        1.10.1 2016-04-07"},"preferredWeight":1,"contents":{"":{"contentType":"1","lastModified":1536172677000,"length":36,"bytes":"outside
        automatic association window"}}}],"dyfi":[{"indexid":"170437402","indexTime":1541327651890,"id":"urn:usgs-product:us:dyfi:us2000h8ty:1541327647432","type":"dyfi","code":"us2000h8ty","source":"us","updateTime":1541327647432,"status":"UPDATE","properties":{"depth":"35","eventsource":"us","eventsourcecode":"2000h8ty","eventtime":"2018-09-05T18:07:59.000Z","latitude":"42.6864","longitude":"141.9303","magnitude":"6.6","maxmmi":"8.1","num-responses":"98","numResp":"98","pdl-client-version":"Version
        1.13.3 2018-02-06"},"preferredWeight":156,"contents":{"cdi_geo.txt":{"contentType":"text/plain","lastModified":1541327646000,"length":2820,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/cdi_geo.txt"},"cdi_geo.xml":{"contentType":"application/xml","lastModified":1541327646000,"length":10191,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/cdi_geo.xml"},"cdi_geo_1km.txt":{"contentType":"text/plain","lastModified":1541327646000,"length":5916,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/cdi_geo_1km.txt"},"cdi_zip.txt":{"contentType":"text/plain","lastModified":1541327646000,"length":2139,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/cdi_zip.txt"},"cdi_zip.xml":{"contentType":"application/xml","lastModified":1541327646000,"length":6179,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/cdi_zip.xml"},"contents.xml":{"contentType":"application/xml","lastModified":1541327646000,"length":4224,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/contents.xml"},"dyfi.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1541327646000,"length":1170,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/dyfi.kmz"},"dyfi_geo.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1541327646000,"length":3102,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/dyfi_geo.kmz"},"dyfi_geo_10km.geojson":{"contentType":"application/octet-stream","lastModified":1541327646000,"length":9576,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/dyfi_geo_10km.geojson"},"dyfi_geo_1km.geojson":{"contentType":"application/octet-stream","lastModified":1541327646000,"length":17530,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/dyfi_geo_1km.geojson"},"dyfi_plot_atten.json":{"contentType":"application/json","lastModified":1541327646000,"length":3602,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/dyfi_plot_atten.json"},"dyfi_plot_numresp.json":{"contentType":"application/json","lastModified":1541327646000,"length":5249,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/dyfi_plot_numresp.json"},"dyfi_zip.geojson":{"contentType":"application/octet-stream","lastModified":1541327646000,"length":4361,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/dyfi_zip.geojson"},"dyfi_zip.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1541327646000,"length":2331,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/dyfi_zip.kmz"},"event_data.xml":{"contentType":"application/xml","lastModified":1541327646000,"length":3040,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/event_data.xml"},"us2000h8ty_ciim.jpg":{"contentType":"image/jpeg","lastModified":1541327646000,"length":85877,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/us2000h8ty_ciim.jpg"},"us2000h8ty_ciim.pdf":{"contentType":"application/pdf","lastModified":1541327646000,"length":229585,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/us2000h8ty_ciim.pdf"},"us2000h8ty_ciim.ps":{"contentType":"application/postscript","lastModified":1541327646000,"length":466962,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/us2000h8ty_ciim.ps"},"us2000h8ty_ciim_geo.jpg":{"contentType":"image/jpeg","lastModified":1541327646000,"length":83190,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/us2000h8ty_ciim_geo.jpg"},"us2000h8ty_ciim_geo.pdf":{"contentType":"application/pdf","lastModified":1541327646000,"length":228057,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/us2000h8ty_ciim_geo.pdf"},"us2000h8ty_ciim_geo.ps":{"contentType":"application/postscript","lastModified":1541327646000,"length":462579,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/us2000h8ty_ciim_geo.ps"},"us2000h8ty_ciim_geo_imap.html":{"contentType":"text/html","lastModified":1541327646000,"length":8684,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/us2000h8ty_ciim_geo_imap.html"},"us2000h8ty_ciim_imap.html":{"contentType":"text/html","lastModified":1541327646000,"length":4228,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/us2000h8ty_ciim_imap.html"},"us2000h8ty_plot_atten.jpg":{"contentType":"image/jpeg","lastModified":1541327646000,"length":52048,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/us2000h8ty_plot_atten.jpg"},"us2000h8ty_plot_atten.ps":{"contentType":"application/postscript","lastModified":1541327646000,"length":52639,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/us2000h8ty_plot_atten.ps"},"us2000h8ty_plot_atten.txt":{"contentType":"text/plain","lastModified":1541327646000,"length":2650,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/us2000h8ty_plot_atten.txt"},"us2000h8ty_plot_numresp.jpg":{"contentType":"image/jpeg","lastModified":1541327646000,"length":37336,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/us2000h8ty_plot_numresp.jpg"},"us2000h8ty_plot_numresp.ps":{"contentType":"application/postscript","lastModified":1541327646000,"length":35420,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/us2000h8ty_plot_numresp.ps"},"us2000h8ty_plot_numresp.txt":{"contentType":"text/plain","lastModified":1541327646000,"length":3120,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us2000h8ty/us/1541327647432/us2000h8ty_plot_numresp.txt"}}}],"general-text":[{"indexid":"168010922","indexTime":1536248320721,"id":"urn:usgs-product:admin:general-text:us2000h8ty-1536248267441:1536248319183","type":"general-text","code":"us2000h8ty-1536248267441","source":"admin","updateTime":1536248319183,"status":"UPDATE","properties":{"eventsource":"us","eventsourcecode":"2000h8ty","pdl-client-version":"Version
        1.10.1 2016-04-07","review-status":"Reviewed"},"preferredWeight":1,"contents":{"":{"contentType":"1","lastModified":1536248319000,"length":2894,"bytes":"<h2>Tectonic
        Summary</h2>\n<p>\nThe September 5, 2018, M 6.6 earthquake east of Tomakomai,
        on the island of Hokkaido, Japan, occurred as the result of shallow reverse
        faulting. Focal mechanism solutions for the earthquake indicate faulting occurred
        on either a moderately dipping reverse fault striking northwest, or on a shallow-to-moderately
        dipping fault striking southeast. At the location of this earthquake, the
        Pacific plate is moving towards the we[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/archive/product/losspager/us2000h8ty/us/1541539345392/json/exposures.json
  response:
    body: {string: '{"population_exposure": {"mmi": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        "aggregated_exposure": [0, 0, 2248544, 2752848, 1330217, 1431811, 1281064,
        41261, 3881, 0], "maximum_border_mmi": 3.6393713910104504, "country_exposures":
        [{"country_code": "JP", "exposure": [0, 0, 2227773, 2747917, 1330217, 1431811,
        1281064, 41261, 3881, 0]}, {"country_code": "UK", "exposure": [0, 0, 58, 0,
        0, 0, 0, 0, 0, 0]}, {"country_code": "RU", "exposure": [0, 0, 20713, 4931,
        0, 0, 0, 0, 0, 0]}]}, "economic_exposure": {"mmi": [1, 2, 3, 4, 5, 6, 7, 8,
        9, 10], "aggregated_exposure": [0.0, 0.0, 1085433675978.5692, 1333122236949.4187,
        644675842272.261, 693912318365.8668, 620854351737.1013, 19996714767.587364,
        1880886309.4206772, 0.0], "country_exposures": [{"country_code": "JP", "exposure":
        [0.0, 0.0, 1079667028136.3129, 1331749411163.1895, 644675842272.261, 693912318365.8668,
        620854351737.1013, 19996714767.587364, 1880886309.4206772, 0.0]}, {"country_code":
        "RU", "exposure": [0.0, 0.0, 5766647842.2563715, 1372825786.2292361, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0]}]}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"410-57a0598f261c0"']
      Last-Modified: ['Tue, 06 Nov 2018 21:22:23 GMT']
    status: {code: 200, message: OK}
version: 1
