interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&eventtype=earthquake&maxmagnitude=9.0&minmagnitude=8.0&endtime=1994-10-06T00%3A00%3A00&limit=20000&orderby=time-asc&starttime=1994-06-01T00%3A00%3A00&mindepth=-100&offset=1&maxdepth=1000
  response:
    body: {string: '{"type":"FeatureCollection","metadata":{"generated":1541791811000,"url":"https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&eventtype=earthquake&maxmagnitude=9.0&minmagnitude=8.0&endtime=1994-10-06T00%3A00%3A00&limit=20000&orderby=time-asc&starttime=1994-06-01T00%3A00%3A00&mindepth=-100&offset=1&maxdepth=1000","title":"USGS
        Earthquakes","status":200,"api":"1.5.8","limit":20000,"offset":1,"count":2},"features":[{"type":"Feature","properties":{"mag":8.2,"place":"La
        Paz, Bolivia","time":771121996230,"updated":1492121206435,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/usp0006dzc","detail":"https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=usp0006dzc&format=geojson","felt":null,"cdi":null,"mmi":4.4,"alert":null,"status":"reviewed","tsunami":0,"sig":1034,"net":"us","code":"p0006dzc","ids":",choy19940609003316,gcmtm060994a,usp0006dzc,gcmt19940609003316,duputel060994a,iscgem168418,atlas19940609003317,","sources":",choy,gcmt,us,gcmt,duputel,iscgem,atlas,","types":",focal-mechanism,impact-text,moment-tensor,origin,phase-data,shakemap,trump-shakemap,","nst":null,"dmin":null,"rms":1.1,"gap":null,"magType":"mw","type":"earthquake","title":"M
        8.2 - La Paz, Bolivia"},"geometry":{"type":"Point","coordinates":[-67.553,-13.841,631.3]},"id":"usp0006dzc"},

        {"type":"Feature","properties":{"mag":8.3,"place":"Kuril Islands","time":781276975840,"updated":1539796060022,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/usp0006kdp","detail":"https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=usp0006kdp&format=geojson","felt":null,"cdi":null,"mmi":9,"alert":null,"status":"reviewed","tsunami":0,"sig":1060,"net":"us","code":"p0006kdp","ids":",usp0006kdp,choy19941004132255,gcmtm100494b,gcmt19941004132258,duputel100494b,atlas19941004132257,iscgem145456,","sources":",us,choy,gcmt,gcmt,duputel,atlas,iscgem,","types":",finite-fault,focal-mechanism,impact-text,moment-tensor,origin,phase-data,shakemap,trump-shakemap,","nst":null,"dmin":null,"rms":0.9,"gap":null,"magType":"mw","type":"earthquake","title":"M
        8.3 - Kuril Islands"},"geometry":{"type":"Point","coordinates":[147.321,43.773,14]},"id":"usp0006kdp"}],"bbox":[-67.553,-13.841,14,147.321,43.773,631.3]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Last-Modified: ['Fri, 09 Nov 2018 19:30:11 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=usp0006dzc&format=geojson
  response:
    body: {string: '{"type":"Feature","properties":{"mag":8.2,"place":"La Paz, Bolivia","time":771121996230,"updated":1492121206435,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/usp0006dzc","felt":null,"cdi":null,"mmi":4.4,"alert":null,"status":"reviewed","tsunami":0,"sig":1034,"net":"us","code":"p0006dzc","ids":",choy19940609003316,gcmtm060994a,usp0006dzc,gcmt19940609003316,duputel060994a,iscgem168418,atlas19940609003317,","sources":",choy,gcmt,us,gcmt,duputel,iscgem,atlas,","types":",focal-mechanism,impact-text,moment-tensor,origin,phase-data,shakemap,trump-shakemap,","nst":null,"dmin":null,"rms":1.1,"gap":null,"magType":"mw","type":"earthquake","title":"M
        8.2 - La Paz, Bolivia","products":{"focal-mechanism":[{"indexid":"105337912","indexTime":1478745558826,"id":"urn:usgs-product:us:focal-mechanism:gcmtM060994A:1478745558247","type":"focal-mechanism","code":"gcmtM060994A","source":"us","updateTime":1478745558247,"status":"UPDATE","properties":{"evaluation-status":"reviewed","eventParametersPublicID":"quakeml:us.anss.org/eventParameters/M060994A","eventsource":"gcmt","eventsourcecode":"m060994a","n-axis-azimuth":"92","n-axis-plunge":"5","nodal-plane-1-dip":"10","nodal-plane-1-rake":"-60","nodal-plane-1-strike":"302","nodal-plane-2-dip":"81","nodal-plane-2-rake":"-95","nodal-plane-2-strike":"92","p-axis-azimuth":"356","p-axis-plunge":"53","quakeml-publicid":"quakeml:us.anss.org/focalmechanism/M060994A/Mwc","review-status":"reviewed","t-axis-azimuth":"186","t-axis-plunge":"36"},"preferredWeight":1,"contents":{"contents.xml":{"contentType":"application/xml","lastModified":1478745558000,"length":195,"url":"https://earthquake.usgs.gov/archive/product/focal-mechanism/gcmtM060994A/us/1478745558247/contents.xml"},"quakeml.xml":{"contentType":"application/xml","lastModified":1478745558000,"length":2229,"url":"https://earthquake.usgs.gov/archive/product/focal-mechanism/gcmtM060994A/us/1478745558247/quakeml.xml"}}},{"indexid":"57320592","indexTime":1435684892614,"id":"urn:usgs-product:us:focal-mechanism:choy19940609003316:1435683541916","type":"focal-mechanism","code":"choy19940609003316","source":"us","updateTime":1435683541916,"status":"UPDATE","properties":{"beachball-source":"us","evaluation-status":"preliminary","eventParametersPublicID":"quakeml:us.anss.org/eventparameters/10002l37/1435063121","eventsource":"choy","eventsourcecode":"19940609003316","nodal-plane-1-dip":"11","nodal-plane-1-rake":"315","nodal-plane-1-strike":"320","nodal-plane-2-dip":"82","nodal-plane-2-rake":"262","nodal-plane-2-strike":"95","quakeml-publicid":"choy19940609003316","review-status":"automatic"},"preferredWeight":1,"contents":{"contents.xml":{"contentType":"application/xml","lastModified":1435684742000,"length":195,"url":"https://earthquake.usgs.gov/archive/product/focal-mechanism/choy19940609003316/us/1435683541916/contents.xml"},"quakeml.xml":{"contentType":"application/xml","lastModified":1435683541000,"length":2780,"url":"https://earthquake.usgs.gov/archive/product/focal-mechanism/choy19940609003316/us/1435683541916/quakeml.xml"}}}],"impact-text":[{"indexid":"39174241","indexTime":1417546002485,"id":"urn:usgs-product:us:impact-text:usp0006dzc:1415321740300","type":"impact-text","code":"usp0006dzc","source":"us","updateTime":1415321740300,"status":"UPDATE","properties":{"eventParametersPublicID":"quakeml:US.anss.org/eventParameters/pde19940609003316230_631/1415321740300","eventsource":"us","eventsourcecode":"p0006dzc"},"preferredWeight":6,"contents":{"":{"contentType":"text/plain","lastModified":1415321740000,"length":2730,"bytes":"Unconfirmed
        reports of five people killed in Peru; three in Arequipa Province by a landslide
        collapsing their house and two in Cuzco Province; one by falling debris and
        another by a heart attack. Numerous injuries and landslides occurred in southern
        Peru. Damage (VI) at La Paz. In Cochabamba, La Paz and Oruro, a large number
        of windows broke in tall buildings, and some structural damage occurred. Some
        minor structural damage also occurred at Brasi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/archive/product/phase-data/usp0006dzc/us/1415321740300/quakeml.xml
  response:
    body: {string: "<q:quakeml xmlns=\"http://quakeml.org/xmlns/bed/1.2\" xmlns:catalog=\"http://anss.org/xmlns/catalog/0.1\"
        xmlns:q=\"http://quakeml.org/xmlns/quakeml/1.2\"><eventParameters publicID=\"quakeml:US.anss.org/eventParameters/pde19940609003316230_631/1415321740300\"><event
        publicID=\"quakeml:US.anss.org/event/pde19940609003316230_631\" catalog:datasource=\"us\"
        catalog:dataid=\"usp0006dzc\" catalog:eventsource=\"us\" catalog:eventid=\"p0006dzc\"><description><text>119</text><type>Flinn-Engdahl
        region</type></description><description><text>Unconfirmed reports of five
        people killed in Peru; three in Arequipa Province by a landslide collapsing
        their house and two in Cuzco Province; one by falling debris and another by
        a heart attack. Numerous injuries and landslides occurred in southern Peru.
        Damage (VI) at La Paz. In Cochabamba, La Paz and Oruro, a large number of
        windows broke in tall buildings, and some stru[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=usp0006kdp&format=geojson
  response:
    body: {string: '{"type":"Feature","properties":{"mag":8.3,"place":"Kuril Islands","time":781276975840,"updated":1539796060022,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/usp0006kdp","felt":null,"cdi":null,"mmi":9,"alert":null,"status":"reviewed","tsunami":0,"sig":1060,"net":"us","code":"p0006kdp","ids":",usp0006kdp,choy19941004132255,gcmtm100494b,gcmt19941004132258,duputel100494b,atlas19941004132257,iscgem145456,","sources":",us,choy,gcmt,gcmt,duputel,atlas,iscgem,","types":",finite-fault,focal-mechanism,impact-text,moment-tensor,origin,phase-data,shakemap,trump-shakemap,","nst":null,"dmin":null,"rms":0.9,"gap":null,"magType":"mw","type":"earthquake","title":"M
        8.3 - Kuril Islands","products":{"finite-fault":[{"indexid":"169717041","indexTime":1539796064845,"id":"urn:usgs-product:us:finite-fault:usp0006kdp:1539796060022","type":"finite-fault","code":"usp0006kdp","source":"us","updateTime":1539796060022,"status":"UPDATE","properties":{"average-rise-time":"4.6","average-rupture-velocity":"2.21","depth":"48.0000","derived-magnitude":"8.3200","derived-magnitude-type":"Mw","eventsource":"us","eventsourcecode":"p0006kdp","eventtime":"1994-10-04T00:00:00.000Z","hypocenter-x":"105.0000","hypocenter-z":"65.0000","latitude":"43.7100","location":"Kuril
        Islands","longitude":"147.3300","maximum-frequency":"1.0000","maximum-rise":"9.0000","maximum-slip":"9.0000","minimum-frequency":"0.0020","model-dip":"41.0000","model-length":"210.0000","model-rake":"24.0400","model-strike":"158.0000","model-top":"5.3500","model-width":"140.0000","number-longwaves":"71","number-pwaves":"36","number-shwaves":"30","review-status":"reviewed","scalar-moment":"4037550100000000180224.0000","segment-1-dip":"41.0000","segment-1-strike":"158.0000","segments":"1","subfault-1-area":"12009.5767","subfault-1-length":"123.5806","subfault-1-width":"97.1801","time-windows":"5","velocity-function":"Asymetriccosine"},"preferredWeight":156,"contents":{"CMTSOLUTION":{"contentType":"application/octet-stream","lastModified":1486166065000,"length":76530,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/usp0006kdp/us/1539796060022/CMTSOLUTION"},"FFM.geojson":{"contentType":"application/octet-stream","lastModified":1539796057000,"length":424015,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/usp0006kdp/us/1539796060022/FFM.geojson"},"basemap.png":{"contentType":"application/octet-stream","lastModified":1486166078000,"length":1549081,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/usp0006kdp/us/1539796060022/basemap.png"},"basic_inversion.param":{"contentType":"application/octet-stream","lastModified":1539795670000,"length":49315,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/usp0006kdp/us/1539796060022/basic_inversion.param"},"complete_inversion.fsp":{"contentType":"application/octet-stream","lastModified":1486166071000,"length":29495,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/usp0006kdp/us/1539796060022/complete_inversion.fsp"},"contents.xml":{"contentType":"application/octet-stream","lastModified":1539796059000,"length":1869,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/usp0006kdp/us/1539796060022/contents.xml"},"coulomb.inp":{"contentType":"application/octet-stream","lastModified":1486166027000,"length":35795,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/usp0006kdp/us/1539796060022/coulomb.inp"},"finite_fault.kml":{"contentType":"application/octet-stream","lastModified":1486166027000,"length":2111,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/usp0006kdp/us/1539796060022/finite_fault.kml"},"finite_fault.kmz":{"contentType":"application/octet-stream","lastModified":1486166027000,"length":928,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/usp0006kdp/us/1539796060022/finite_fault.kmz"},"moment_rate.mr":{"contentType":"application/octet-stream","lastModified":1539795670000,"length":31744,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/usp0006kdp/us/1539796060022/moment_rate.mr"},"moment_rate.png":{"contentType":"application/octet-stream","lastModified":1486246077000,"length":137751,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/usp0006kdp/us/1539796060022/moment_rate.png"},"p0006kdp.html":{"contentType":"text/html","lastModified":1539796059000,"length":3975,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/usp0006kdp/us/1539796060022/p0006kdp.html"},"properties.json":{"contentType":"application/octet-stream","lastModified":1539796059000,"length":1055,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/usp0006kdp/us/1539796060022/properties.json"},"slip.png":{"contentType":"application/octet-stream","lastModified":1486166086000,"length":428099,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/usp0006kdp/us/1539796060022/slip.png"},"surface_deformation.disp":{"contentType":"application/octet-stream","lastModified":1486166035000,"length":29600,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/usp0006kdp/us/1539796060022/surface_deformation.disp"},"waveplots.zip":{"contentType":"application/octet-stream","lastModified":1539796059000,"length":2325528,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/usp0006kdp/us/1539796060022/waveplots.zip"}}}],"focal-mechanism":[{"indexid":"105338331","indexTime":1478745570379,"id":"urn:usgs-product:us:focal-mechanism:gcmtM100494B:1478745569921","type":"focal-mechanism","code":"gcmtM100494B","source":"us","updateTime":1478745569921,"status":"UPDATE","properties":{"evaluation-status":"reviewed","eventParame[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/archive/product/phase-data/usp0006kdp/us/1415321786359/quakeml.xml
  response:
    body: {string: "<q:quakeml xmlns=\"http://quakeml.org/xmlns/bed/1.2\" xmlns:catalog=\"http://anss.org/xmlns/catalog/0.1\"
        xmlns:q=\"http://quakeml.org/xmlns/quakeml/1.2\"><eventParameters publicID=\"quakeml:US.anss.org/eventParameters/pde19941004132255840_14/1415321786359\"><event
        publicID=\"quakeml:US.anss.[...]
