interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/archive/product/dyfi/se60247871/us/1551819820509/dyfi_geo_1km.geojson
  response:
    body: {string: '{"features":[{"geometry":{"coordinates":[[[-97.86622,28.46285],[-97.856,28.46276],[-97.85591,28.47179],[-97.86612,28.47187]]],"type":"Polygon"},"type":"Feature","properties":{"stddev":0,"nresp":1,"name":"UTM:(14R
        0611 3149 1000)<br>UTM:(14R 0611 3149 1000)","cdi":2.7,"dist":1471}},{"geometry":{"coordinates":[[[-100.61645,38.47718],[-100.60499,38.47734],[-100.60519,38.48635],[-100.61665,38.48619]]],"type":"Polygon"},"type":"Feature","properties":{"stddev":0,"nresp":2,"name":"UTM:(14S
        0359 4260 1000)<br>UTM:(14S 0359 4260 1000)","cdi":2,"dist":1448}},{"geometry":{"coordinates":[[[-99.7232,32.418],[-99.71257,32.41806],[-99.71264,32.42708],[-99.72328,32.42702]]],"type":"Polygon"},"type":"Feature","properties":{"stddev":0,"nresp":1,"name":"UTM:(14S
        0432 [...]
