interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&mindepth=-100&offset=1&starttime=1994-01-17T12%3A30%3A00&endtime=1994-01-18T12%3A35%3A00&maxdepth=1000&limit=20000&minmagnitude=6.6&maxmagnitude=10.0&orderby=time-asc&eventtype=earthquake
  response:
    body: {string: '{"type":"FeatureCollection","metadata":{"generated":1541795248000,"url":"https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&mindepth=-100&offset=1&starttime=1994-01-17T12%3A30%3A00&endtime=1994-01-18T12%3A35%3A00&maxdepth=1000&limit=20000&minmagnitude=6.6&maxmagnitude=10.0&orderby=time-asc&eventtype=earthquake","title":"USGS
        Earthquakes","status":200,"api":"1.5.8","limit":20000,"offset":1,"count":1},"features":[{"type":"Feature","properties":{"mag":6.7,"place":"1km
        NNW of Reseda, CA","time":758809855390,"updated":1518716430169,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/ci3144585","detail":"https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=ci3144585&format=geojson","felt":10955,"cdi":8.6,"mmi":8.6,"alert":null,"status":"reviewed","tsunami":0,"sig":1551,"net":"ci","code":"3144585","ids":",cinorthrid,choy19940117123055,gcmtc011794b,ci3144585,usp00066k9,gcmt19940117123055,duputel011794b,atlas19940117123055,iscgem189275,","sources":",ci,choy,gcmt,ci,us,gcmt,duputel,atlas,iscgem,","types":",associate,dyfi,focal-mechanism,general-link,impact-text,moment-tensor,nearby-cities,origin,phase-data,shakemap,trump-shakemap,","nst":0,"dmin":null,"rms":0.31,"gap":29.7,"magType":"mw","type":"earthquake","title":"M
        6.7 - 1km NNW of Reseda, CA"},"geometry":{"type":"Point","coordinates":[-118.537,34.213,18.202]},"id":"ci3144585"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Last-Modified: ['Fri, 09 Nov 2018 20:27:28 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&updatedafter=2010-01-01T00%3A00%3A00&mindepth=-100&offset=1&limit=20000&endtime=2010-02-01T00%3A00%3A00&maxdepth=1000&starttime=2008-01-01T00%3A00%3A00&minmagnitude=9.0&maxmagnitude=9.9&orderby=time-asc&eventtype=earthquake
  response:
    body: {string: '{"type":"FeatureCollection","metadata":{"generated":1541795293000,"url":"https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&updatedafter=2010-01-01T00%3A00%3A00&mindepth=-100&offset=1&limit=20000&endtime=2010-02-01T00%3A00%3A00&maxdepth=1000&starttime=2008-01-01T00%3A00%3A00&minmagnitude=9.0&maxmagnitude=9.9&orderby=time-asc&eventtype=earthquake","title":"USGS
        Earthquakes","status":200,"api":"1.5.8","limit":20000,"offset":1,"count":0},"features":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Last-Modified: ['Fri, 09 Nov 2018 20:28:13 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&mindepth=-100&offset=1&starttime=2017-01-01T00%3A00%3A00&endtime=2017-01-30T00%3A00%3A00&maxdepth=1000&limit=20000&minmagnitude=0&maxmagnitude=0.1&orderby=time-asc&eventtype=earthquake
  response:
    body: {string: '{"type":"FeatureCollection","metadata":{"generated":1541795294000,"url":"https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&mindepth=-100&offs[...]
