interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&eventid=us1000778i&includedeleted=false&includesuperseded=false
  response:
    body: {string: '{"type":"Feature","properties":{"mag":7.8,"place":"54km NNE of
        Amberley, New Zealand","time":1479034976340,"updated":1539813034137,"tz":720,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/us1000778i","felt":710,"cdi":9.1,"mmi":8.9,"alert":"orange","status":"reviewed","tsunami":1,"sig":1646,"net":"us","code":"1000778i","ids":",at00ogkuoy,us1000778i,atlas20161113110256,","sources":",at,us,atlas,","types":",cap,dyfi,finite-fault,general-link,general-text,geoserve,ground-failure,impact-link,impact-text,losspager,moment-tensor,origin,phase-data,poster,scitech-link,shakemap,","nst":null,"dmin":0.481,"rms":0.56,"gap":21,"magType":"mww","type":"earthquake","title":"M
        7.8 - 54km NNE of Amberley, New Zealand","products":{"cap":[{"indexid":"105468311","indexTime":1479036302513,"id":"urn:usgs-product:us:cap:us1000778i:1479036100040","type":"cap","code":"us1000778i","source":"us","updateTime":1479036100040,"status":"UPDATE","properties":{"eventsource":"us","eventsourcecode":"1000778i"},"preferredWeight":6,"contents":{"capalert.xml":{"contentType":"application/xml","lastModified":1479036301000,"length":5063,"url":"https://earthquake.usgs.gov/archive/product/cap/us1000778i/us/1479036100040/capalert.xml"},"contents.xml":{"contentType":"application/xml","lastModified":1361473072000,"length":194,"url":"https://earthquake.usgs.gov/archive/product/cap/us1000778i/us/1479036100040/contents.xml"}}},{"indexid":"105468131","indexTime":1479035702073,"id":"urn:usgs-product:at:cap:at00ogkuoy:1479035682421","type":"cap","code":"at00ogkuoy","source":"at","updateTime":1479035682421,"status":"UPDATE","properties":{"eventsource":"at","eventsourcecode":"00ogkuoy"},"preferredWeight":6,"contents":{"capalert.xml":{"contentType":"application/xml","lastModified":1479035701000,"length":4945,"url":"https://earthquake.usgs.gov/archive/product/cap/at00ogkuoy/at/1479035682421/capalert.xml"},"contents.xml":{"contentType":"application/xml","lastModified":1361473072000,"length":194,"url":"https://earthquake.usgs.gov/archive/product/cap/at00ogkuoy/at/1479035682421/contents.xml"}}}],"dyfi":[{"indexid":"152765081","indexTime":1521035445651,"id":"urn:usgs-product:us:dyfi:us1000778i:1521035439960","type":"dyfi","code":"us1000778i","source":"us","updateTime":1521035439960,"status":"UPDATE","properties":{"depth":"15.11","eventsource":"us","eventsourcecode":"1000778i","eventtime":"2016-11-13T11:02:56.000Z","latitude":"-42.7373","longitude":"173.054","magnitude":"7.8","maxmmi":"9.1","num-responses":"710","numResp":"710","pdl-client-version":"Version
        1.13.3 2018-02-06"},"preferredWeight":156,"contents":{"cdi_geo.txt":{"contentType":"text/plain","lastModified":1521035439000,"length":13665,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/cdi_geo.txt"},"cdi_geo.xml":{"contentType":"application/xml","lastModified":1521035439000,"length":49092,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/cdi_geo.xml"},"cdi_geo_1km.txt":{"contentType":"text/plain","lastModified":1521035439000,"length":42063,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/cdi_geo_1km.txt"},"cdi_zip.txt":{"contentType":"text/plain","lastModified":1521035439000,"length":9778,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/cdi_zip.txt"},"cdi_zip.xml":{"contentType":"application/xml","lastModified":1521035439000,"length":26361,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/cdi_zip.xml"},"contents.xml":{"contentType":"application/xml","lastModified":1521035439000,"length":4224,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/contents.xml"},"dyfi.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1521035439000,"length":1175,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/dyfi.kmz"},"dyfi_geo.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1521035439000,"length":11711,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/dyfi_geo.kmz"},"dyfi_geo_10km.geojson":{"contentType":"application/octet-stream","lastModified":1521035439000,"length":46981,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/dyfi_geo_10km.geojson"},"dyfi_geo_1km.geojson":{"contentType":"application/octet-stream","lastModified":1521035439000,"length":126337,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/dyfi_geo_1km.geojson"},"dyfi_plot_atten.json":{"contentType":"application/json","lastModified":1521035439000,"length":7243,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/dyfi_plot_atten.json"},"dyfi_plot_numresp.json":{"contentType":"application/json","lastModified":1521035439000,"length":33681,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/dyfi_plot_numresp.json"},"dyfi_zip.geojson":{"contentType":"application/octet-stream","lastModified":1521035439000,"length":18717,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/dyfi_zip.geojson"},"dyfi_zip.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1521035439000,"length":7176,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/dyfi_zip.kmz"},"event_data.xml":{"contentType":"application/xml","lastModified":1521035439000,"length":3051,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/event_data.xml"},"us1000778i_ciim.jpg":{"contentType":"image/jpeg","lastModified":1521035439000,"length":90157,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/us1000778i_ciim.jpg"},"us1000778i_ciim.pdf":{"contentType":"application/pdf","lastModified":1521035439000,"length":292637,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/us1000778i_ciim.pdf"},"us1000778i_ciim.ps":{"contentType":"application/postscript","lastModified":1521035439000,"length":588789,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/us1000778i_ciim.ps"},"us1000778i_ciim_geo.jpg":{"contentType":"image/jpeg","lastModified":1521035439000,"length":87775,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/us1000778i_ciim_geo.jpg"},"us1000778i_ciim_geo.pdf":{"contentType":"application/pdf","lastModified":1521035439000,"length":287765,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/us1000778i_ciim_geo.pdf"},"us1000778i_ciim_geo.ps":{"contentType":"application/postscript","lastModified":1521035439000,"length":589266,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/us1000778i_ciim_geo.ps"},"us1000778i_ciim_geo_imap.html":{"contentType":"text/html","lastModified":1521035439000,"length":36243,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/us1000778i_ciim_geo_imap.html"},"us1000778i_ciim_imap.html":{"contentType":"text/html","lastModified":1521035439000,"length":16329,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/us1000778i_ciim_imap.html"},"us1000778i_plot_atten.jpg":{"contentType":"image/jpeg","lastModified":1521035439000,"length":65898,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/us1000778i_plot_atten.jpg"},"us1000778i_plot_atten.ps":{"contentType":"application/postscript","lastModified":1521035439000,"length":57253,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/us1000778i_plot_atten.ps"},"us1000778i_plot_atten.txt":{"contentType":"text/plain","lastModified":1521035439000,"length":4820,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/us1000778i_plot_atten.txt"},"us1000778i_plot_numresp.jpg":{"contentType":"image/jpeg","lastModified":1521035439000,"length":33650,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/us1000778i_plot_numresp.jpg"},"us1000778i_plot_numresp.ps":{"contentType":"application/postscript","lastModified":1521035439000,"length":30386,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/us1000778i_plot_numresp.ps"},"us1000778i_plot_numresp.txt":{"contentType":"text/plain","lastModified":1521035439000,"length":21647,"url":"https://earthquake.usgs.gov/archive/product/dyfi/us1000778i/us/1521035439960/us1000778i_plot_numresp.txt"}}}],"finite-fault":[{"indexid":"169748561","indexTime":1539813043951,"id":"urn:usgs-product:us:finite-fault:us1000778i:1539813034137","type":"finite-fault","code":"us1000778i","source":"us","updateTime":1539813034137,"status":"UPDATE","properties":{"average-rise-time":"7.38","average-rupture-velocity":"1.85","depth":"16.0000","derived-magnitude":"7.8900","derived-magnitude-type":"Mw","eventsource":"us","eventsourcecode":"1000778i","eventtime":"2016-11-13T00:00:00.000Z","hypocenter-x":"33.7500","hypocenter-z":"16.2500","latitude":"-42.7570","location":"54km
        NNE of Amberley, New Zealand","longitude":"173.0770","maximum-frequency":"1.0000","maximum-rise":"12.0000","maximum-slip":"4.0000","minimum-frequency":"0.0020","model-dip":"80.0000","model-length":"97.5000","model-rake":"180.0000","model-strike":"255.0000","model-top":"-1.2900","model-width":"26.0000","number-longwaves":"47","number-pwaves":"60","number-shwaves":"29","review-status":"reviewed","scalar-moment":"896693400000000032768.0000","segment-1-dip":"80.0000","segment-1-strike":"255.0000","segment-2-dip":"36.0000","segment-2-strike":"225.0000","segment-3-dip":"36.0000","segment-3-strike":"225.0000","segment-4-dip":"70.0000","segment-4-strike":"225.0000","segment-5-dip":"70.0000","segment-5-strike":"245.0000","segments":"5","subfault-1-area":"278.9604","subfault-1-length":"28.9490","subfault-1-width":"9.6363","subfault-2-area":"3039.8759","subfault-2-length":"56.8141","subfault-2-width":"53.5056","subfault-3-area":"224.9541","subfault-3-length":"14.2686","subfault-3-width":"15.7656","subfault-4-area":"1391.4879","subfault-4-length":"98.1574","subfault-4-width":"14.1761","subfault-5-area":"1192.2212","subfault-5-length":"69.1596","subfault-5-width":"17.2387","time-windows":"8","velocity-function":"Asymetriccosine"},"preferredWeight":156,"contents":{"1000778i.html":{"contentType":"text/html","lastModified":1539813033000,"length":4652,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000778i/us/1539813034137/1000778i.html"},"CMTSOLUTION":{"contentType":"application/octet-stream","lastModified":1539727788000,"length":107156,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000778i/us/1539813034137/CMTSOLUTION"},"FFM.geojson":{"contentType":"application/octet-stream","lastModified":1539813032000,"length":1150351,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000778i/us/1539813034137/FFM.geojson"},"basemap.png":{"contentType":"application/octet-stream","lastModified":1539727788000,"length":1382312,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000778i/us/1539813034137/basemap.png"},"basic_inversion.param":{"contentType":"application/octet-stream","lastModified":1539727787000,"length":134535,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000778i/us/1539813034137/basic_inversion.param"},"complete_inversion.fsp":{"contentType":"application/octet-stream","lastModified":1539727788000,"length":79453,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000778i/us/1539813034137/complete_inversion.fsp"},"contents.xml":{"contentType":"application/octet-stream","lastModified":1539813033000,"length":1446,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000778i/us/1539813034137/contents.xml"},"coulomb.inp":{"contentType":"application/octet-stream","lastModified":1539727787000,"length":93023,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000778i/us/1539813034137/coulomb.inp"},"moment_rate.mr":{"contentType":"application/octet-stream","lastModified":1539727787000,"length":31744,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000778i/us/1539813034137/moment_rate.mr"},"moment_rate.png":{"contentType":"application/octet-stream","lastModified":1539727878000,"length":113799,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000778i/us/1539813034137/moment_rate.png"},"properties.json":{"contentType":"application/octet-stream","lastModified":1539813033000,"length":1833,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000778i/us/1539813034137/properties.json"},"slip.png":{"contentType":"application/octet-stream","lastModified":1539727846000,"length":223567,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000778i/us/1539813034137/slip.png"},"waveplots.zip":{"contentType":"application/octet-stream","lastModified":1539813033000,"length":2857301,"url":"https://earthquake.usgs.gov/archive/product/finite-fault/us1000778i/us/1539813034137/waveplots.zip"}}}],"general-link":[{"indexid":"105819361","indexTime":1479837311507,"id":"urn:usgs-product:admin:general-link:eventadmin-us1000778i-1479837220997:1479837310963","type":"general-link","code":"eventadmin-us1000778i-1479837220997","source":"admin","updateTime":1479837310963,"status":"UPDATE","properties":{"eventsource":"us","eventsourcecode":"1000778i","text":"Before
        and after satellite photos of Waiapapa Bay showing fault scarp and uplift","url":"/realtime/product/general-text/us1000778i-1479836679954/admin/1479837066861/WaiapapaBay-Comparison-lg.jpg"},"preferredWeight":1,"contents":[]},{"indexid":"105784631","indexTime":1479749038510,"id":"urn:usgs-product:admin:general-link:eventadmin-us1000778i-1479748996503:1479749033227","type":"general-link","code":"eventadmin-us1000778i-1479748996503","source":"admin","updateTime":1479749033227,"statu[...]
