interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&eventid=nn00570710&includesuperseded=true&includedeleted=false
  response:
    body: {string: '{"type":"Feature","properties":{"mag":5.6,"place":"26km SW of
        Hawthorne, Nevada","time":1482913332208,"updated":1530554971575,"tz":-480,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/nn00570710","felt":11559,"cdi":5.7,"mmi":6.81,"alert":"green","status":"reviewed","tsunami":0,"sig":1052,"net":"nn","code":"00570710","ids":",nn00570710,nc72744490,us10007n66,","sources":",nn,nc,us,","types":",dyfi,focal-mechanism,general-link,geoserve,impact-text,losspager,moment-tensor,nearby-cities,origin,phase-data,scitech-link,shakemap,","nst":43,"dmin":0.123,"rms":0.1913,"gap":42.44,"magType":"ml","type":"earthquake","title":"M
        5.6 - 26km SW of Hawthorne, Nevada","products":{"dyfi":[{"indexid":"123571002","indexTime":1483810462331,"id":"urn:usgs-product:us:dyfi:nn00570710:1483810455007","type":"dyfi","code":"nn00570710","source":"us","updateTime":1483810455007,"status":"UPDATE","properties":{"depth":"12.3","eventsource":"nn","eventsourcecode":"00570710","eventtime":"2016-12-28T08:22:12.000Z","latitude":"38.3917","longitude":"-118.8941","magnitude":"5.6","maxmmi":"5.7","num-responses":"11559","numResp":"11559"},"preferredWeight":51,"contents":{"cdi_geo.txt":{"contentType":"text/plain","lastModified":1483810454000,"length":45542,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/cdi_geo.txt"},"cdi_geo.xml":{"contentType":"application/xml","lastModified":1483810454000,"length":156480,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/cdi_geo.xml"},"cdi_geo_1km.txt":{"contentType":"text/plain","lastModified":1483810454000,"length":344718,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/cdi_geo_1km.txt"},"cdi_zip.txt":{"contentType":"text/plain","lastModified":1483810454000,"length":18986,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/cdi_zip.txt"},"cdi_zip.xml":{"contentType":"application/xml","lastModified":1483810454000,"length":78779,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/cdi_zip.xml"},"contents.xml":{"contentType":"application/xml","lastModified":1483810454000,"length":4224,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/contents.xml"},"dyfi.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1483810454000,"length":1157,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/dyfi.kmz"},"dyfi_geo.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1483810454000,"length":31692,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/dyfi_geo.kmz"},"dyfi_geo_10km.geojson":{"contentType":"application/octet-stream","lastModified":1483810454000,"length":150508,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/dyfi_geo_10km.geojson"},"dyfi_geo_1km.geojson":{"contentType":"application/octet-stream","lastModified":1483810454000,"length":1036283,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/dyfi_geo_1km.geojson"},"dyfi_plot_atten.json":{"contentType":"application/json","lastModified":1483810454000,"length":13694,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/dyfi_plot_atten.json"},"dyfi_plot_numresp.json":{"contentType":"application/json","lastModified":1483810454000,"length":889253,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/dyfi_plot_numresp.json"},"dyfi_zip.geojson":{"contentType":"application/octet-stream","lastModified":1483810454000,"length":1153855,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/dyfi_zip.geojson"},"dyfi_zip.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1483810454000,"length":127120,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/dyfi_zip.kmz"},"event_data.xml":{"contentType":"application/xml","lastModified":1483810454000,"length":3027,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/event_data.xml"},"nn00570710_ciim.jpg":{"contentType":"image/jpeg","lastModified":1483810454000,"length":118794,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/nn00570710_ciim.jpg"},"nn00570710_ciim.pdf":{"contentType":"application/pdf","lastModified":1483810454000,"length":499390,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/nn00570710_ciim.pdf"},"nn00570710_ciim.ps":{"contentType":"application/postscript","lastModified":1483810454000,"length":831468,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/nn00570710_ciim.ps"},"nn00570710_ciim_geo.jpg":{"contentType":"image/jpeg","lastModified":1483810454000,"length":119071,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/nn00570710_ciim_geo.jpg"},"nn00570710_ciim_geo.pdf":{"contentType":"application/pdf","lastModified":1483810454000,"length":397031,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/nn00570710_ciim_geo.pdf"},"nn00570710_ciim_geo.ps":{"contentType":"application/postscript","lastModified":1483810454000,"length":676725,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/nn00570710_ciim_geo.ps"},"nn00570710_ciim_geo_imap.html":{"contentType":"text/html","lastModified":1483810454000,"length":153352,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/nn00570710_ciim_geo_imap.html"},"nn00570710_ciim_imap.html":{"contentType":"text/html","lastModified":1483810454000,"length":173293,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/nn00570710_ciim_imap.html"},"nn00570710_plot_atten.jpg":{"contentType":"image/jpeg","lastModified":1483810454000,"length":53841,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/nn00570710_plot_atten.jpg"},"nn00570710_plot_atten.ps":{"contentType":"application/postscript","lastModified":1483810454000,"length":60825,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/nn00570710_plot_atten.ps"},"nn00570710_plot_atten.txt":{"contentType":"text/plain","lastModified":1483810454000,"length":7458,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/nn00570710_plot_atten.txt"},"nn00570710_plot_numresp.jpg":{"contentType":"image/jpeg","lastModified":1483810454000,"length":35214,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/nn00570710_plot_numresp.jpg"},"nn00570710_plot_numresp.ps":{"contentType":"application/postscript","lastModified":1483810454000,"length":33873,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/nn00570710_plot_numresp.ps"},"nn00570710_plot_numresp.txt":{"contentType":"text/plain","lastModified":1483810454000,"length":544202,"url":"https://earthquake.usgs.gov/archive/product/dyfi/nn00570710/us/1483810455007/nn00570710_plot_numresp.txt"}}},{"indexid":"123569352","indexTime":1483810262705,"id":"urn:usgs-product:us:dyfi:nn00570710:1483810254786","type":"dyfi","code":"nn00570710","source":"us","updateTime":1483810254786,"status":"UPDATE","properties":{"depth":"12.6","eventsource":"nn","eventsourcecode":"00570710","eventtime":"2016-12-28T08:22:12.00[...]
